body {
    background-color: #543;
    color: aliceblue;
    text-align: center;
    align-items: center;

}

h1{
    align-items: center;
    text-align: center;

}



table {
    border: 1px Solid white;
    padding: 5px;
    border-spacing: 5px;
}

td {
    border: 1.5px solid white;
}

thead, 
tfoot{
    background-color: #234;
}

